.round-img-xl, .round-img-lg{
    margin:2rem;
}
.round{
    border-radius:50% ;
}
.round-img-xl{
    height:35rem;
    width:35rem;
}
.round-img-lg{
    height:30rem;
    width:30rem;
}
.square-img-xl, .square-img-lg{
    margin:1rem 2rem 1rem 0;
}
.square-img-xl{
    height: 40rem;
    width:40rem;
}
.square-img-lg{
    height:30rem;
    width:30rem;
}
.square-image,.responsive-image{
    margin:2rem 2rem 2rem 0;
}
.responsive-img{
    width: 100%;
    height: auto; 
}