.typography-headings{
    text-align: left;
    margin-left: 0;
    margin: 0;
}
.typography-h1{
    font-size: 4.5rem;
}
.typography-h2{
    font-size: 3.8rem;
}
.typography-h3{
    font-size: 3rem;
}
.typography-h4{
    font-size: 2.5rem;
}
.typography-h5{
    font-size: 2rem;
}
.typography-h6{
    font-size: 1.8rem;
}
.typography-paragraph{
    margin: 0;
}
.para-large{
    font-size: 3.8rem;
}
.para-medium{
    font-size: 3rem;
}
.para-small{
    font-size: 2.3rem;
}
.para-xsmall{
    font-size: 1.5rem;
}
.typography-styles{
    font-size: 2.3rem;
    margin: 0;
}

.para-center{
    text-align: center;
}
.typography-gray{
    color: var(--btn-secondary-color);
}