/* button */
.btn{
    border: none;
    border-radius: 10px;
    cursor:pointer;
    font-size: 1.8rem;
    height: 50px;
    width:12rem;
    margin:3px;
    padding: 5px;
  }
  
  /* contained btn*/
  .btn-primary{
    background-color: var(--btn-primary-bg-color);
    color: var(--btn-color);
  }
  .btn-secondary{
    background-color: var(--btn-secondary-bg-color);
    color: var(--btn-color);
  }
  .btn-primary:hover{
    background-color: var(--btn-primary-hover-color);
    color: var(--btn-color);
  } 
  .btn-secondary:hover{
    /* background-color: var(--btn-secondary-bg-color); */
    /* background-color: #3a86ff; */
    background-color: #3073c5;
    color: var(--btn-color);
  }
  .btn-disabled{
    /* background-color: var(--btn-disabled-bg-color); */
    background-color: var(--alert-secondary-color);
    color: var(--btn-color);
    cursor: auto;
    opacity: 0.6;
  }
  
  /* outlined btn */
  .box-shadow:hover{
    box-shadow: 2px 2px 2px var(--btn-secondary-hover-color);
  }
  .btn-outline-primary{
    background-color: var(--btn-color);
    border:2px solid var(--btn-primary-hover-color);
    color:var(--btn-primary-bg-color); 
  }
  .btn-outline-primary:hover{
    background-color: var(--btn-primary-bg-color);
    border: 2px solid var(--btn-primary-bg-color);
    color: var(--btn-color);
  }
  .btn-outline-secondary{
    background-color: var(--btn-color);
    border:2px solid var(--btn-secondary-bg-color);
    color:var(--btn-secondary-bg-color);
  }
  .btn-outline-secondary:hover{
    background-color: var(--btn-secondary-bg-color);
    border:2px solid var(--btn-secondary-bg-color);
    color:var(--btn-color);
  }
  .btn-outline-warning{
    background-color: var(--btn-color);
    border:2px solid var(--btn-warning-bg-color);
    color:var(--btn-warning-bg-color);
  }
  .btn-outline-warning:hover{
    background-color: var(--btn-warning-bg-color);
    border:2px solid var(--btn-warning-bg-color);
    color:var(--btn-color);
  }
  .btn-outline-success{
    background-color: var(--btn-color);
    border:2px solid var(--btn-success-bg-color);
    color:var(--btn-success-bg-color);
  }
  .btn-outline-success:hover{
    background-color: var(--btn-success-bg-color);
    border:2px solid var(--btn-success-bg-color);
    color:var(--btn-color);
  }
  .btn-outline-danger{
    background-color: var(--btn-color);
    border:2px solid var(--btn-danger-bg-color);
    color:var(--btn-danger-bg-color);
  }
  .btn-outline-danger:hover{
    background-color: var(--btn-danger-bg-color);
    border:2px solid var(--btn-danger-bg-color);
    color:var(--btn-color);
  }
  
  /* link btn */
  .btn-link{
    background-color: var(--btn-primary-hover-color);
    color:var(--btn-color);
  }
  .btn-link a{
    text-decoration: none;
    color:var(--btn-color);
  }
  
  /* icon btn */
  .btn-icons{
    background-color: var(--btn-primary-bg-color);
    color:var(--btn-color);
    font-size: 2.1rem;
    height:5rem;
    width:14rem;
    text-align:left;
  }
  .fa-2x {
    font-size: 3rem;
    vertical-align: middle;
    margin-right: 5px;
  }
  
  /* floating action btn */
  .btn-floating-action{
    background-color: var(--btn-primary-bg-color);
    border-radius: 50%;
    color:var(--btn-color);
    height:6rem;
    width:6rem;
  }
  .fa-star, .fa-arrow-right,.fa-heart{
    margin-right: 0;
  }