.img-avatar{
  margin:2rem 0 2rem 0;
}
span{
  color:#ff758f;
}
  
/* avatar */
.avatar-round{
  border-radius: 50%;
}
.avatar-xlg{
  height:15rem;
  width:15rem;
}
.avatar-lg{
  height:13rem;
  width:13rem;
}
.avatar-md {
  height:11rem;
  width:11rem;
}
.avatar-sm{
  height:9rem;
  width:9rem;
}
.avatar-xsm{
  height:7rem;
  width:7rem;
}
.avatar-square{
  border-radius:1.25rem;
}

 
  
  
  
  
  
  
  
  
  
  
  